# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
pytest_cache/

# Type checker
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pyright
pyrightconfig.json

# Pylint
pylint-report.txt
pylint-global.rc

# PyDev
.project
.pydevproject

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter
.ipynb_checkpoints

# macOS / Linux / Windows
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# dotenv
.env
.env.*

# SQLite
*.sqlite3

# Cryptographic cache
*.pem
*.key
